html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
img {
  display: block;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  --tg-theme-bg-color: "white";
  --tg-theme-secondary-bg-color: "white";
}
h1, h2, h3, h4, h5, h6, a, hr {
  padding: 0;
  margin: 0;
}
p {
    font-size: 17px;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding-top: 5%;
  width: 100%;
  margin: 0 auto;
}
.card {
  padding: 75px 25px;
  max-width: 350px;
  margin: auto;
}
.card-grid {
  display: grid;
  text-align: center;
}
.a-card {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background: #FFC300;
  border-radius: 10px;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 700;
  transition: background .2s linear;
}
.a-card:hover {
  cursor: pointer;
  background: whitesmoke;
  color: #FFC300
}
.text-card{
  font-size: 20px;
}
