html {
  box-sizing: border-box;
  
}
*, *::before, *::after {
  box-sizing: inherit;
  
}
img {
  display: block;
  width: 100%;
  
}
body {
  margin: 0;
  padding: 0;
  font-family: 'arial black', bold;
  color:rgb(255, 0, 0);
  font-weight: 100;
  
}
h1, h2, h3, h4, h5, h6, a, hr {
  
  padding: 0;
  margin: 0;
}
p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;

  
}
a {
  text-decoration: none;
  color: inherit;
  
}
.container {
  padding-top: 7%;
  width: 100%;
  margin: 0 auto;
  
}
input{
  z-index:10;
}
.card {
  padding: 85px 25px;
  max-width: 350px;
  margin: auto;

  
}
.card-grid {
  display: grid;
  text-align: center;
  
}
img{
  position: absolute;
  top: 34%;
  left: -27%;
  overflow: hidden;

}
.a-card {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background:   rgb(255, 0, 0);
  border-radius: 10px;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: background .2s linear;
}
.a-card:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  color: #ffffff
  
}
.text-card{
  font-size: 23px;
  font-weight: 600;
  
}
.time-card{
  border-radius: 10px;
}
